.container {
  height: 40vh;
  width: 30vw;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}
.second_heading {
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 8px 20px;
  border-radius: 8px;
  margin-bottom: 45px;
}
.button_area {
  display: flex;
  gap: 45px;
}
.btn {
  display: inline-block;
  border: none;
  cursor: pointer;
  padding: 17px 10px;
  font-size: 15px;
  font-weight: 600;
  border: 2px solid #6f27ef;
  border-radius: 10px;
  transition: all 0.7s ease-in;
}
.btn:hover {
  background-color: #6f27ef;
}
